:root{
    --primario: greenyellow ;
    --secundario: blue;
}

html{
   font-size: 62.5%;
}

body{
    font-family: 'Roboto' ,sans-serif;
    font-size: 16px;
}

.contenedor{
    width: 800px;
    margin: 0 auto ;
}

.bg-secundario{
    background-color: greenyellow;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

.titulo{
    color: var(--secundario);
    font-size: 3.8rem;
    text-align: center;
}

.titulo span{
    color: var(--primario);
    font-size: 2rem;
}

p{
    font-size: 1.6rem;
    
}

.navegacion-principal{
    background-color:var(--primario);
}

.navegacion-principal a{
    color: red;
}

