html{
   font-size: 62.5%;
}

body{
    font-family: 'Roboto' ,sans-serif;
    font-size: 16px;
}

.contenedor{
    margin-: ;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

.titulo{
    color: aqua;
    font-size: 3.8rem;
    text-align: center;
}

.titulo span{
    color: greenyellow;
    font-size: 2rem;
}

p{
    font-size: 1.6rem;
    
}

nav{
    background-color: greenyellow;
}

